%% -*- erlang -*-
{erl_opts,
 [
  debug_info,
  {parse_transform, lager_transform},
  warnings_as_errors
 ]}.

{shell,
 [
  {apps, [lager]}
 ]}.


{deps,
 [
  lager,
  jsone,
  recon,
  h3,
  iso8601,
  libp2p_crypto,
  {poolboy, "1.5.2"},
  {elli, "3.2.0"},
  {epgsql, "4.3.0"},
  {observer_cli, "1.5.0"},
  {telemetry, "0.4.1"},
  {erl_angry_purple_tiger, ".*", {git, "https://github.com/helium/erl_angry_purple_tiger.git", {branch, "master"}}},
  {psql_migration, {git, "https://github.com/helium/psql-migration.git", {branch, "master"}}},
  {helium_proto, {git, "https://github.com/helium/proto.git", {branch, "master"}}},
  {envloader, {git, "https://github.com/nuex/envloader.git", {branch, "master"}}}
 ]}.

{xref_checks,
 [
  undefined_function_calls,
  undefined_functions
 ]}.

{shell, [{apps, [lager, envloader, epgsql]}]}.

{relx,
 [
  {release, {blockchain_http, "0.1.0"},
   [
    blockchain_http
   ]},

  {vm_args, "./config/vm.args"},
  {sys_config, "./config/sys.config"},

  {extended_start_script, true},
  {include_src, true}

 ]}.

{profiles,
 [
  {prod,
   [
    {relx, [{dev_mode, false},
            {include_erts, true}]}
   ]}
 ]}.
