%% -*- erlang -*-
{erl_opts, [
    debug_info,
    {parse_transform, lager_transform},
    warnings_as_errors
]}.

{cover_export_enabled, true}.

{cover_enabled, true}.

{covertool, [
    {coverdata_files, [
        "ct.coverdata",
        "eunit.coverdata"
    ]}
]}.

{cover_excl_mods, [
    blockchain_http_app
]}.

{project_plugins, [
    covertool
]}.

{plugins, [erlfmt]}.

{deps, [
    lager,
    jiffy,
    recon,
    h3,
    iso8601,
    libp2p_crypto,
    {base64url, "1.0.1"},
    {elli, "3.3.0"},
    {epgsql, "4.3.0"},
    {eql, "0.2.0"},
    {erl_angry_purple_tiger,
        {git, "https://github.com/helium/erl_angry_purple_tiger.git", {branch, "master"}}},
    {psql_migration, {git, "https://github.com/helium/psql-migration.git", {branch, "master"}}},
    {helium_proto, {git, "https://github.com/helium/proto.git", {branch, "andymck/poc-grpc"}}},
    {envloader, {git, "https://github.com/nuex/envloader.git", {branch, "master"}}},
    {dispcount, {git, "https://github.com/Vagabond/dispcount", {branch, "adt/transaction"}}},
    {throttle, {git, "https://github.com/helium/throttle", {branch, "adt/custom-increment"}}}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions
]}.

{shell, [{apps, [lager, envloader, epgsql]}]}.

{ct_opts, [{sys_config, ["config/sys.config"]}]}.

{relx, [
    {release, {blockchain_http, git}, [
        blockchain_http
    ]},
    {vm_args, "./config/vm.args"},
    {sys_config, "./config/sys.config"},
    {extended_start_script, true},
    {include_src, true},
    {overlay, [
        {template, "config/vm.args", "{{output_dir}}/releases/{{release_version}}/vm.args"},
        {copy, "priv/*.sql", "priv/"}
    ]}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_src, false},
            {include_erts, true}
        ]}
    ]},
    {test, [
        {deps, [meck]}
    ]}
]}.
