%% -*- erlang -*-
[
 {blockchain_http,
  [
   {port, 8080},
   {db_ro_pool,
    [
     {size, 100},
     {watcher_type, atomics}, %% ets, named, or atomics
     {dispatch_mechanism, round_robin} %% hash or round_robin
    ]},
   {db_rw_pool,
    [
     {size, 2},
     {watcher_type, atomics}, %% ets, named, or atomics
     {dispatch_mechanism, round_robin} %% hash or round_robin
    ]},
   {db_ro_handlers,
    [
     bh_route_blocks,
     bh_route_accounts,
     bh_route_hotspots,
     bh_route_txns,
     bh_route_pending_txns
    ]},
   {db_rw_handlers,
    [
     bh_route_pending_txns
    ]}
  ]},
 {lager,
  [
   {suppress_supervisor_start_stop, true},
   {log_root, "log"},
   {crash_log, "crash.log"},
   {colored, true},
   {killer_hwm, 1000},
   {async_threshold, undefined},
   {killer_reinstall_after, 5000},
   {handlers,
    [
     {lager_file_backend, [{file, "console.log"}, {level, info}, {flush_queue, true}, {flush_threshold, 500}]}
    ]}
  ]}
].
