%% -*- erlang -*-
[
    {blockchain_http, [
        {port, 8080},
        {db_ro_pool, [
            {size, 100},
            %% ets, named, or atomics
            {watcher_type, atomics},
            %% hash or round_robin
            {dispatch_mechanism, round_robin}
        ]},
        {db_rw_pool, [
            {size, 2},
            %% ets, named, or atomics
            {watcher_type, atomics},
            %% hash or round_robin
            {dispatch_mechanism, round_robin}
        ]},
        {db_ro_handlers, [
            bh_route_blocks,
            bh_route_accounts,
            bh_route_hotspots,
            bh_route_txns,
            bh_route_elections,
            bh_route_challenges,
            bh_route_pending_txns,
            bh_route_stats,
            bh_route_oracle,
            bh_route_vars,
            bh_route_snapshots,
            bh_route_cities,
            bh_route_rewards,
            bh_route_ouis,
            bh_route_locations
        ]},
        {db_rw_handlers, [
            bh_route_pending_txns
        ]}
    ]},
    {lager, [
        {suppress_supervisor_start_stop, true},
        {killer_hwm, 1000},
        {async_threshold, undefined},
        {killer_reinstall_after, 5000},
        {flush_queue, true},
        {flush_threshold, 500},
        {handlers, [
            {lager_console_backend, [{level, info}]}
        ]}
    ]}
].
