%% -*- erlang -*-
[
 {blockchain_http,
  [
   {port, 8080},
   {db_pool,
    [
     {size, 10},
     {max_overflow, 20}
    ]},
   {db_handlers,
    [
     bh_route_blocks,
     bh_route_accounts,
     bh_route_hotspots
    ]}
  ]},
 {lager,
  [
   {suppress_supervisor_start_stop, true},
   {log_root, "log"},
   {crash_log, "crash.log"},
   {colored, true},
   {handlers,
    [
     {lager_file_backend, [{file, "console.log"}, {level, info}]},
     {lager_file_backend, [{file, "error.log"}, {level, error}]}
    ]}
  ]}
].
