[Unit]
Description=Blockchain HTTP application
After=network.target

[Service]
Type=simple
ExecStart=/var/helium/blockchain_http/bin/blockchain_etl foreground
ExecStop=/var/helium/blockchain_http/bin/blockchain_etl stop
User=ubuntu
PIDFile=/var/data/blockchain_http/blockchain_http.pid
Environment=HOME="/var/data/blockchain_http"
Environment=RUNNER_LOG_DIR="/var/data/log/blockchain_http"
Environment=ERL_CRASH_DUMP="/var/data/log/blockchain_http"
LimitNOFILE=64000
LimitNPROC=64000
Restart=always

[Install]
WantedBy=multi-user.target
